# Build outputs
build/*
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
.cache/


# User-specific CMake presets
CMakeUserPresets.json


# vcpkg directories
vcpkg_installed/
buildtrees/
packages/
downloads/


# Executables and libraries
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj


# IDE and editor files
.vscode/
.idea/
*.swp
*~
